<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign publications = site.data.papers.bib %}
  {% for content in publications %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-12">
          <!-- Title -->
          <h6 class="title font-weight-bold">
            {% if content.url and content.url != '' %}
              <a href="{{ content.url }}" target="_blank" rel="noopener noreferrer">{{ content.title }}</a>
            {% else %}
              {{ content.title }}
            {% endif %}
          </h6>
          
          <!-- Authors -->
          <p class="mb-1">{{ content.author }}</p>

          <!-- Journal and Year -->
          <p class="text-muted">
            <em>{{ content.journal }}</em>, {{ content.year }}
          </p>

          <!-- Buttons -->
          <div class="mt-2">
            {% if content.url and content.url != '' %}
              <a href="{{ content.url }}" target="_blank" class="btn btn-outline-dark btn-sm">HTML</a>
            {% endif %}
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>


